{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Olá, {% if name %}{{ name }}{% else %}Estranho{% endif %}!</h1>
    {% if not known %}
    <p>Prazer em conhecê-lo!</p>
    {% else %}
    <p>Feliz em vê-lo novamente!</p>
    {% endif %}
</div>

{{ wtf.quick_form(form) }}

<div class="usuarios">
    <h2>Relação de usuários cadastrados</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nome de Usuário</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
